@import '../styles/themes';

.app-container {
  background-color: $secondary-color;
  color: $text-color;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* src/app/home/home.component.scss */

.header {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 1rem;
  text-align: center;
}

.body {
  padding: 2rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
